<!-- <footer>
  Visitors: <%= visitors %>
</footer>
  </body> -->
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© <%= new Date().getFullYear() %> Link to the project:
    <a href="https://github.com/curiousvlxd/NewsApp">link</a>
    <div>Current visitors count: <%= visitors %></div>
  </div>
</footer>
</html>